.alert-trim {
	display: inline-block;
}

.footer-text {
	color: grey;
}

.topic-name, .thread-name {
	font-size: 22px;
}

.reply-info {
	width: 200px;
}
.reply-info-name {
	font-size: 24px;
}
.reply-info-date {
	font-size: 14px;
}
.thread, .topic, .reply, .breadcrumb {
	word-break: break-all;
}

.topics-title {
	display: inline-block;
}

.nav-link:hover {
	color: white !important;
}
